<div class="col-md-12">
    <h1>Nouvelle partie</h1>
    <form class="form-horizontal" name="gameConfigForm" novalidate ng-submit="gameConfigForm.$valid && configGame.launchGame()">
        <div class="form-group">
            <label for="game-select">Game mode</label>
            <select class=form-control" ng-model="configGame.game.mode" id="game-select" name="gameSelect" required>
                <option selected value="">Selectionnez un mode</option>
                <option value="101">101</option>
                <option value="301">301</option>
                <option value="501">501</option>
            </select>
        </div>
        <div class="alert alert-danger" ng-show="gameConfigForm.$submitted && gameConfigForm.gameSelect.$error.required">
            Le mode est requis
        </div>
        <div ng-show="configGame.hasGamers()">
            <h2>Joueurs</h2>
            <div class="row">
                <div class="col-md-4" ng-repeat="gamer in configGame.game.gamers">
                    <p>Joueur {{$index + 1}} : <b>{{ gamer.name }}</b></p>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" ng-show="gameConfigForm.$submitted && !configGame.hasGamers()">
            No Gamers !
        </div>
        <div class="form-group">
            <label for="new-challenger-name">Nouveau joueur</label>
            <input ng-model="configGame.newGamerName" id="new-challenger-name" type="text" name="new-challenger-name" />
            <button type="button" class="btn btn-default" ng-click="configGame.addGamer()">Ajouter le joueur</button>
        </div>
       <input class="btn btn-primary btn-large" type="submit" value="Lancer la partie" />
       <button class="btn btn-large" type="button" ng-click="configGame.resetGame()">Recommencer</button>
    </form>
</div>
